.App {
  text-align: center;
  max-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.content{
  min-height: 100vh;
    display: flex;
    flex-direction: column;
}

 td {
   color: white;
  background-color: black;
  border: 1px solid white;
}

#compare-icon{
  background-color: white;
}
th {
  background-color:cornflowerblue;
  border: 1px solid white;
}

td.good {
  color: rgb(2, 129, 2);
}
td.satisfactory {
  color: darkseagreen;
}
td.moderate {
  color: gold;
}
td.poor {
  color: orange;
}
td.verypoor {
  color: orangered;
}
td.severe {
  color: darkred;
}

td.na{
  color:white;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
